@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600&family=Prata&display=swap');
*{  /*common styling for all the pages*/
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    user-select: none;
}
img {/*common styles for all the images*/
    max-width: 100%;
}
body {/*common style for the body*/
    color: black;
    background-color: #CCE4FD;
}
/*nav bar styles*/
header {/*header styles*/
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 50px 6px 20px;
    transition: 0.5s linear;
}
section:nth-child(1) {
    padding: 20px 100px;/*logos padding*/
}
.logo {/*style for the logo*/
    width: 5rem;
}
#menu-icon,#menu-icon-2{/*common styles for the hamburger menu*/
    color: #fff;
    font-size: 40px;
    z-index: 1000001;
    cursor: pointer;
    display: none;
}
#menu-icon-2{/*inner hamburger special styling*/
    color: #ffffff;
    border: 2px solid #fff;
    margin-top: 10px;
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
}
.logo span {/*styles for the span in the logo*/
    text-decoration: none;
    color: white;
    font-size: 40px;
    text-align: center;
}
.navbar {
    display: flex;
}
.navbar a {/*styles for the elements of the navigation bar*/
    padding: 12px 14px;
    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 6px;
}
.navbar a:hover {/*hover effects and styles for the nav elements*/
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
    color: #082E42;
}
#navbar {
    background-color: transparent; /* Initial background color */
    transition: background-color 0.3s; /* Add a smooth transition effect */
}
.contact-box{/*separate contact button stylings*/
    margin-left: 10px;
    background-color: #fff;
    color: #3D3837 !important;
    padding: 10px 12px !important;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #fff;
}
.contact-box:hover{/*hover effect for the contact button*/
    background-color: #045B62!important;
    color: #fff!important;
    border-color: #fff;
    border-radius: 20px !important;
}
/* Home Area */
.hero {/*topper section of the home page with the image*/
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../Assets/HomePic.png");
    background-size: cover;
    background-position: center;
    position: relative;
}
.text-box {
    position: absolute;
    bottom: 15%;
    left: 5rem;
    color: #fff;
}
.text-box p {/*small descriptions style*/
    font-size: 40px;
    font-weight: 600;
}
.text-box h1 {/*heading style*/
    font-size: 70px;
    line-height: 80px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    -webkit-background-clip: text;
    background-position: -200px 0;
}
.text-box h3 {/*sub headers style*/
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
}
.text-box h3 span {
    margin-left: 12px;
    background-color: #fff;
    color: #3D3837;
    padding: 5px 14px;
}
.text-box .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.text-box .row a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.text-box .row a i {/*buttons for linkedin and github*/
    margin-right: 8px;
}
.text-box .row a:hover{/*hover styles for those buttons*/
    background-color: #fff;
    color: #082E42;
    transition: 0.4s all ease-in-out;
}
.wrapper{/*outer container of the dynamic text boxes*/
    display: flex;
}
.wrapper .dynamic-txts{/*dynamic texts styles*/
    margin-left: 15px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    border-radius: 25px;
}
.dynamic-txts li{/*styles for the list items*/
    list-style: none;
    color: #3D3837;
    font-size: 38px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}
.dynamic-txts li span{/*styles for the span inside the list items*/
    position: relative;
    margin: 5px 0;
    line-height: 60px;
}
.dynamic-txts li span::after{/* Styling for the typing animation dynamic-element */
    content: ""; /* Empty content for the dynamic-element */
    position: absolute;
    left: 0; /* Aligns the left edge with the left edge of the  contained element */
    height: 100%;
    width: 100%;
    background: #fff;
    border-left: 3px solid #3D3837; /* Vertical bar representing the typing cursor */
    animation: typing 3s steps(13) infinite; /* Typing animation with a duration of 3 seconds, 13 steps, and infinite repetition */
}



/*styles for the footer*/
.footer{
    padding: 16px;
    user-select: none;
    background-color: #333331;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 1.5rem;
}
.footer-box h2{/*heading style*/
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #A4A4A3;
}
.footer-box p{
    font-size: 0.938rem;
    margin-bottom: 10px;
    color: #ffeeee;
}
.social{/*social media icons styles*/
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 25px;
}
.social a .bx{
    text-decoration: none;/*removing the text decoration*/
    color: #ffeeee;
    font-size: 24px;
    background-color: #777775;
    border-radius: .2rem;
    padding: 2px;
}
.social a .bx:hover{/*adding separate hover effects*/
    background-color: #ffeeee;
    color: #333331;
    transition: 0.3s all ease-in-out;
}
.footer-box h3{/*Applies for all 4 boxes*/
    font-weight: 600;
    margin-bottom: 10px;
    color: #777775;
}
.footer-box li{
    padding-bottom: 7px;
}
.footer-box li a{
    color: #777775;
}
.footer-box li a:hover{
    color: #fff;
}
.contact{/*footers contact part style*/
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    color: #D1D1D1;
}
.contact span{
    display: flex;
    align-items: center;
}
.contact i{/*contact icon style*/
    font-size: 20px;
    margin-right: 1rem;
}
.copyright{/*copyright sign*/
    padding: 20px;
    background-color: #777775;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
/*footer styling ends*/
/*-----About Page styling-----*/
.about-box{/*Main box with the background image*/
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../Assets/About-Page.png");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-box .welcome{/*welcome animated text styles*/
    display: flex;
    position: absolute;
    top: 50%;
    font-weight: 600;
    font-size: 4rem;
    padding: 12px;
    color: #ffffff;

}
/*calling the animation separately for each and every letter of the word*/
.about-box .welcome span:nth-child(1){ animation: blink 1s 0.4s ease-in-out forwards;}
.about-box .welcome span:nth-child(2){ animation: blink 1s 0.8s ease-in-out forwards;}
.about-box .welcome span:nth-child(3){ animation: blink 1s 1.2s ease-in-out forwards;}
.about-box .welcome span:nth-child(4){ animation: blink 1s 1.6s ease-in-out forwards;}
.about-box .welcome span:nth-child(5){ animation: blink 1s 2.0s ease-in-out forwards;}
.about-box .welcome span:nth-child(6){ animation: blink 1s 2.4s ease-in-out forwards;}
.about-box .welcome span:nth-child(7){ animation: blink 1s 2.8s ease-in-out forwards;}
/*personal inner navigation bar styling*/
.p-header {/*header styles in common*/
    background-color: transparent;/*used a full transparent color*/
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;/*aligning into the center of the page*/
    justify-content: center;
    padding: 0 50px;
    position: absolute;
    top: 60px;
    z-index: 1000;
}
.p-header nav ul {
    display: flex;
}
.p-header nav ul > li a {/*styles for the elements*/
    display: grid;
    color: #C8CACE;
    font-weight: 500;
    padding: 5px 10px;
    margin: 0 10px;
    border: 3px solid #C8CACE;
    text-transform: uppercase;
    transition: 0.2s;
}
.p-header nav ul li a:hover{/*hover effect for the elements*/
    background-color: rgba(255, 255, 255, 0.3);
    color: #0B0B09;
    border-color: #ffffff;
}
/*personal nav*/
/*styles for the social-container*/
.social-media-container{/*main outer styling*/
    width: 100%;
    height: auto;
    margin: 10px 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-container .social-box{/*aligning the icons into the center*/
    text-align: center;
}
.social-media-container .social-box a{
    font-size: 4rem;
    text-decoration: none;
    color: #ffffff;
    padding: 0.3rem 0.5rem;
    border-radius: 26px;
}
.social-media-container .social-box a:hover{
    color: #579196;
    transition: all 0.4s ease-in-out;
}
/*social-container styling ends*/
/*personal-details styles*/
#personal{/*text box outer styles*/
    padding-top: 15px;
    height: auto;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 18px;
    margin: 50px 20px;
}
.personal-details{/*text styles in common*/
    padding-top: 10px;
    width: 100%;
    height: auto;
}
.personal-details h1{/*heading style*/
    padding-left: 18px;
    font-size: 2rem;
}
.personal-details p{/*paragrapgh details style*/
    display: grid;
    text-align: justify;
    padding: 24px;
    line-height: 1.6rem;
}
/*personal-details ending*/
/*-----About Page ending-----*/

/*project page styling*/
.project-intro{
    margin-top: 90px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-intro .intro-para{
    display: grid;/*displayed as grid to make responsive*/
    width: 100%;
    text-align: justify;
    font-size: 1rem;
    color: #ffffff;
    border: 2px solid #ffffff;
    line-height: 1.5rem;
    letter-spacing: 1.3px;
    margin: 0 20px;
    padding: 40px 20px;
    border-radius: 40px;
}
/*--project card--*/
#projects , #gallery{
    padding-top: 20px;
    display: block;
    /*used a gradiant color combination*/
    background: linear-gradient(to right, #023C41, #013135, #00252B, #001820, #000D16, #00030C);
}
.project-text ,.gallery-text{
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}
/*slider styles in common*/
#slider {/*outer slides style*/
    margin: 30px auto;
    width: 600px;
    max-width: 100%;
}
#slider input[type=radio] {
    display: none;/*hiding the radio buttons*/
}
#slider label {/*styles for the selectors*/
    cursor:pointer;
    text-decoration: none;
}
#slides {
    padding: 12px;
    border: 3px solid #ffeeee;
    background: #ffeeee;
    position: relative;
    z-index: 1;
}
#overflow {/*styles for  the overflowing content*/
    width: 100%;
    overflow: hidden;
}
#slide1:checked ~ #slides .inner {/*margin gap for the 1st image*/
    margin-left: 0;
}
#slide2:checked ~ #slides .inner {/*margin gap for the 2nd image*/
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {/*margin gap for the 3rd image*/
    margin-left: -200%;
}
#slide4:checked ~ #slides .inner {/*margin gap for the 4th image*/
    margin-left: -300%;
}
#slides .inner {
    /* Smooth transition effect for the margin-left property with a duration  and a custom cubic-bezier timing function */
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;/* Setting the line height to 0 to remove any extra spacing that might affect the layout */
    height: 350px;
    border-radius: 12px;
}
#slides .slide {
    width: 25%;/*1/4 of the whole width*/
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;/*fitting the picture to the background*/
    background-position: center;
    overflow: hidden;
    border-radius: 12px;
}
#slides .slide_1 {/*image 1*/
    background-image: url("../Assets/gallery-1.png");
}
#slides .slide_2 {/*image 2*/
    background-image: url("../Assets/gallery-2.png");
}
#slides .slide_3 {/*image 3*/
    background-image: url("../Assets/gallery-3.png");
}
#slides .slide_4 {/*image 4*/
    background-image: url("../Assets/gallery-4.png");
}
#bullets {/*styles for the bullets*/
    margin: 20px 0 0;
    text-align: center;
}
#bullets label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
    background: #045B62;
    border:  2px solid #ffffff;
}
/*slider*/
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
.container .card{
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 250px;
    width: 300px;
    background-color: #045B62;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: all 0.6s ease-in-out,transform 0.4s;
    cursor: pointer;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
}
.container .card:hover{
    height: 280px;
}
.container .card .img-box{
    position: absolute;
    top: 20px;
    width: 240px;
    height: 150px;
    background-color: #579196;
    border-radius: 12px;
    transition:all 0.6s ease-in-out;
    overflow: hidden;
}
.container .card:hover .img-box{
    top: -80px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}
.container .card:hover .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content{
    position: absolute;
    width: 100%;
    text-align: justify;
    padding: 0 30px;
    top: 200px;
    height: 35px;
    overflow: hidden;
    transition: 0.6s;
}
.container .card:hover .content{
    height: 250px;
    top: 80px;
}
.container .card .content h2{
    text-align: center;
    line-height: 2.4rem;
}
.container .card .content p{
    color: #6F8D90;
}
.container .card .content a{
    position: relative;
    top: 12px;
    display: inline-block;
    padding: 8px 15px;
    background-color: #579196;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    text-align: center;
}
.container .card .content a:hover{
    color: #045B62;
    background-color: #fff;
}
/*--project card--*/
.back-top{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    padding: 18px 0;
    margin-bottom: 20px;
}
.back-top a h3{
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    color: #045B62;
    border: 2px solid #ffffff;
    text-decoration: none;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;
}
.back-top a h3:hover{
    background-color: #1D3032;
    color: #ffffff;
    border:2px solid #ffffff;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.5s 0.5s forwards;
}
/* Animate the project images */
.container .card:nth-child(1) { animation: fadeInUp 0.5s 0.2s forwards; }
.container .card:nth-child(2) { animation: fadeInUp 0.5s 0.4s forwards; }
.container .card:nth-child(3) { animation: fadeInUp 0.5s 0.6s forwards; }
.container .card:nth-child(4) { animation: fadeInUp 0.5s 0.8s forwards; }
.container .card:nth-child(5) { animation: fadeInUp 0.5s 1s forwards; }
.container .card:nth-child(6) { animation: fadeInUp 0.5s 1.2s forwards; }

/*project page*/


/*blog page*/
.section{
    margin: 80px auto;
    box-sizing: border-box;
    padding: 30px 40px;
    width: 90%;
    height: auto;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 30px;

}
.section .blog-card{
    background-color: #A4A4A3;
    color: #045B62;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    padding: 15px;
}
.section .blog-card .image-section{
    min-height: 250px;
}
.blog-card .img-1{
    background-image: url("../Assets/blog-img-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog-card .img-2{
    background-image: url("../Assets/blog-img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog-card .img-3{
    background-image: url("../Assets/blog-img-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog-card .content {
    text-align: center;
    padding: 15px 10px;
}
.blog-card .content h2{
    letter-spacing: 2px;
    color: #3D3837;
}
.blog-card .content p{
    font-size: 16px;
    text-align: justify;
    color: #1D3032;
    margin-top: 13px;
}
.blog-card .content a{
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #045B62;
    padding: 10px;
    display: inline-block;
    letter-spacing: 2px;

}
.blog-card .content a:hover{
    background-color: #fff;
    color: #045B62;
    transition: all 0.6s ease;
}
/*blog page*/
.contact-form{
    margin-top: 80px;
}
/*contact form*/
form{
    color: #fff;
    background: linear-gradient(to right, #023C41, #013135, #00252B, #001820, #000D16, #00030C);
    width: 640px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
}

form .title h2{
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

form .half{
    display: flex;
    justify-content: space-between;
}

form .half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label{
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

form .half .item input{
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
}

form .full{
    margin-bottom: 24px;
}

form .full textarea{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
}

form .action{
    margin-bottom: 32px;
}

form .action input{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
}
.item input{
    color: #fff;
}
.full textarea{
    color: #fff;
}
form .action input[type="submit"]{
    background: white;
    color: #045B62;
}
form .action input[type="submit"]:hover{
    background: #002A2F;
    color: #fff;
    transition: all 0.6s ease-in-out;
}
form .icons a{
    border: 1px solid white;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-weight: 600;
    width: 38px;
    margin-right: 10px;
}

form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover{
    background: rgba(255,255,255,0.075);
}

/*contact form*/

/*------------Media Queries-------------*/
@media (max-width:880px ){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: -570px;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #579196;
        color: #1D3032;
        row-gap: 1.7rem;
        padding: 20px;
        transition: 0.3s all ease-in-out;
        text-align: right;
    }
    .navbar a{
        color: #1D3032;
    }
    .navbar a:hover{
        background-color: #045B62;
        color: #ffffff;
    }
    .navbar.active{
        top: 90%;
    }
    .p-header {
        padding: 0 30px;
    }
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
        margin: 0;
    }
    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
}
@media only screen and (max-width: 800px) {
    #menu-icon-2 {
        display: initial;
    }
    .p-header nav {
        position: absolute;
        width: 100%;
        left: 0;
        top: -500px;
        color: #fff;
        background: rgba(29, 48, 50, 0.8);
        padding: 30px;
        transition: 0.3s;
    }
    .text-box h1{
        font-size: 60px;
        line-height: 65px;
        padding-bottom: 20px;
        margin-left: 12px;
    }
    .text-box p{
        margin-left: 12px;
    }
    .p-header nav ul {
        display: block;
    }
    .p-header nav ul > li a {
        margin: 5px 0;
    }
    .p-header.active{
        top: 100%;
    }
    .project-intro{
        margin-top: 80px;
    }
}

@media only screen and (max-width: 600px) {
    .social-media-container{
        justify-content: space-between;
    }
    .project-intro {
        margin-top: 100px;
        margin-bottom: 70px;
    }
    .text-box h1{
        margin-top: 10px;
        font-size: 50px;
        line-height: 55px;
    }
    .text-box p{
        margin-top: 20px;
    }
    .wrapper .dynamic-txts span{
        right: 10px;
    }
    .text-box .row{
        display: flex;
        flex-direction: row;
        row-gap: 18px;
    }
}
@media (max-width: 480px){
    form .half{
        flex-direction: column;
    }
    form .half .item{
        width: 100%;
    }
    form .action{
        display: flex;
        flex-direction: column;
    }
    form .action input{
        margin-bottom: 10px;
        width: 100%;
    }
    .about-box .welcome{
        font-size: 50px;
        transition: all 0.5s ease-in-out;
    }
    .text-box{
        margin-top: 100px;
        top: 10px;
        position: absolute;
    }
    .text-box h1{
         font-size: 40px;
         line-height: 45px;
     }
    .text-box span{
        display: none;
    }
    .wrapper .dynamic-txts span{
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .project-intro {
        margin-top: 100px;
        margin-bottom: 80px;
    }
    .card .img-box img{
        padding: 0 12px;
    }
    .card .content h2{
        font-size: 16px;
        line-height: 18px;
        text-align: center;
    }
    .card .content p{
        display: none;
    }
    .about-box .welcome{
        font-size: 40px;
    }
    .text-box .row{
        display: flex;
        flex-direction: row;
        row-gap: 18px;
        font-size: 16px;
    }
    .wrapper .dynamic-txts span{
        display: none;
    }
}
/*------------Media Queries-------------*/

/*----------Animations-----------*/
@keyframes slide {
    100%{
        top: -240px;
    }
}
@keyframes typing {
    40%, 60%{
        left: calc(100% + 12px);
    }
    100%{
        left: 0;
    }
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes blink {
    50%{
        opacity: 0;
    }
}
/*----------Animations-----------*/